body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	margin-top: 1%;
}

h1 {
	text-align: center;
	color: rgba(3,3,3,0.6);
	background-color: rgba(204,156,180,0.1);
}

h2 {
	text-align: center;
	color: rgba(3,3,3,0.6);
	background-color: rgba(204,156,180,0.1);

}

ul {
	padding: 0px;
	text-align: center;
}

li {
    padding: 5px;
    list-style: none;
    float: left;
    width: 24%;
}

.line {
    padding: 1px;
    margin-bottom: 12px
}

.nav {
    margin-top: 30px;
    display: inline;
    float: left;
}

.button {
    padding: 20px;
    font-size: 9px;
    display: inline;
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgba(250,250,250,0.8);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.cite {
    clear: both;
    margin-top: 20px;
}

a:hover {
	background-color: rgba(230,230,230,0.8);
}
