
@media screen and (min-width: 800px) {

    .site {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "nav nav nav"
        "side head head"
        "side main main"
        "footer footer footer"
        ;
        grid-gap: 10px;
    }

    
}

@media screen and (min-width: 1800px) {
    .site {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 4fr;
        grid-template-areas:
        "nav nav head head"
        "side main main footer"
        ;
        grid-gap: 10px;
    }
}



.masthead {
    grid-area: nav;
}

.sidebar {
    grid-area: side;
}

.page-title {
    grid-area: head;
}

.main-content {
    grid-area: main;
}

.footer-content {
    grid-area: footer;
}