body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	margin-top: 10%;
    border: 1px solid red;
    background-color: sandybrown;
    margin: 0 auto;
    width: 80%;
}

h1 {
	text-align: center;
	color: rgba(3, 3, 3, 0.6);
	background-color: rgba(204, 156, 180, 0.1);
    border: 1px solid yellow;
    background-color: azure;
    margin: 0;
}

h2 {
	text-align: center;
	color: rgba(3, 3, 3, 0.6);
	background-color: rgba(204, 156, 180, 0.1);

}

p {
    border: 1px solid yellow;
    background-color: aqua;
    margin: 0;
}

ul {
	padding: 0px;
	text-align: center;
}

li {
    padding: 5px;
    list-style: none;
}

a:hover {
	background-color: rgba(230, 230, 230, 0.8);
}
