/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    margin-top: 10%;
    border: 1px solid black;
    margin: 0 auto;
    width: 80%;
}

h1 {
    text-align: center;
    color: rgba(3, 3, 3, 0.6);
    border: 1px solid yellow;
    margin: 0;
    margin-top: 10px;
}

p {
    color: white;
}

header {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 10px;
    background-color: black;
}

aside {
    height: 200px;
    width:33.33%;
    background-color: tomato;
    float: left;
/*    margin-bottom: 10px;*/
}

article {
    height: 200px;
    width: 33.33%;
    background-color: black;
    float: left;
/*    margin-bottom: 10px;*/
}

section {
    margin-bottom: 10px;
    clear: both;
    height: 400px;
}


footer {
    height: 150px;
    background-color: black;
    clear: both;
    margin-bottom: 10px;
} 
