/* css (only at the top) */
@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:600');

body {
    background-image: radial-gradient(rgba(30, 144, 255, 0.9), rgba(135, 206, 250, 0.9), rgba(0, 191, 255, 0.9));
	font-family: "Monoton", cursive;
	text-align: center;
	margin-top: 10%;
}

h1 {
    padding-top: 10px;
    font-size: 110px;
    background: -webkit-linear-gradient(white, lightblue, white, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:1px 1px 100px white;
    text-decoration: none;
    margin: 0px;
}

p {
    font-family: "Lobster", cursive;
    font-size: 36px;
    color: rgba( 0, 0, 0, 0.5);
}

ul {
    padding: 0px;
    text-align: center;
}

li {
    font-size: 36px;
    padding: 5px;
}

a {
    color: rgba(0, 0, 0, 0.5);
}

a:hover {
    text-decoration: underline;
	background-color: rgba(255, 255, 255, 0.6);
}
