@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    margin-top: 10%;
    /*border: 1px solid black;*/
    margin: 0 auto;
    width: 80%;
}

/* css image slider */

.fling-minislide {
    width:100%; 
    height:500px; 
    overflow:hidden; 
    position:relative; 
}

.fling-minislide img { 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
    height: auto;
}

@keyframes fling-minislide {
    25% {opacity:1;
    } 
    40% {opacity:0;
    }
} 

.fling-minislide img:nth-child(4) {
    animation-delay:0s;
}

.fling-minislide img:nth-child(3) {
    animation-delay:5s;
}

.fling-minislide img:nth-child(2) {
    animation-delay:10s;
}

.fling-minislide img:nth-child(1) {
    animation-delay:15s;
}

/* end */

.main {
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: rgba(3, 3, 3, 0.6);
    margin-top: 15px;
    padding-bottom: 10px;
}

h2 {
    margin: 0px;
    text-align: center;
    color: rgba(3, 3, 3, 0.6);
    background-color: rgba(255, 250, 250, 0.5);
    clear: both;
}

p {
    color: rgba(0, 0, 0, 0.9);
}

.text {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
    background-color: rgba(255, 250, 250, 0.5);
    padding-left: 10px; 
}

.text2 {
    margin: 0px;
    background-color: rgba(255, 250, 250, 0.5);
}

.fix {
    padding-top: 20px;
}

.fix2 {
    padding-top: 20px;
    padding-bottom: 20px;
}


header2 {
    padding: 2px;
    text-align: left;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgba(255, 250, 250, 0.5);
}

.box1 {
    height: 275px;
    width: 49%;
    display: inline-block;
    float: left;
}

.box2 {
    height: 275px;
    width: 49%;
    display: inline-block;
    float: right;
}

.box3 {
    width: 39%;
    display: inline-block;
    float: left;
}

.box4 {
    width: 59%;
    display: inline-block;
    float: right;
}

.pic {
    /*width: 100%;*/
    display: inline-block;
    max-height: 650px;
    width:100%;
    overflow: hidden;
}


section {
    text-align: left;
    height: 500px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 250, 250, 0.5);
    clear: both;
    overflow: hidden;
}

/* about css */

h4 {
    text-align: center;
    color: rgba(3, 3, 3, 0.6);
    background-image: radial-gradient(rgba(30, 144, 255, 0.3), rgba(135, 206, 250, 0.3), rgba(0, 191, 255, 0.3));
    margin: 0;
    margin-top: 20px;
}

h5 {
    background-image: radial-gradient(rgba(30, 144, 255, 0.3), rgba(135, 206, 250, 0.3), rgba(0, 191, 255, 0.3));
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

h3 {
    text-align: center;
}


.a {
    padding-left: 10px;
    padding-right: 10px;
}

.b {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.c {
    text-align: center;
}

.box5 {
    background-color: rgba(255, 250, 250, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    float: right;
}

.box6 {
    background-color: rgba(255, 250, 250, 0.1);
    padding-bottom: 30px;
    width: 100%;
    display: inline;
    float: left;
    overflow: hidden;
}

.pic1 {
    width: 100%;
    border-radius: 30%
}

.pic2 {
    width: 100%;
    clear: both;
}

aside2 {
    width: 50%;
    float: left;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}

article2 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    height: 350px;
    width: 50%;
    float: right;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}

section2 {
    text-align: left;
    width: 100%;
    background-color: rgba(255, 250, 250, 0.5);
    overflow: hidden;
    clear: both;
}

/* end about css */


/* event css */

header3 {
    display: inline;
    float: left;
}

.pic {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}

.box7 {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    float: left;
}

.box8 {
    width: 100%;
    display: inline-block;
    float: left;
}

.box9 {
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
    clear: both;
}

aside3 {
    height: 261px;
    width:33.33%;
    background-color: rgba(25, 250, 250, 0.8);
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

article3 {
    height: 261px;
    width: 33.33%;
    background-color: rgba(255, 250, 250, 0.8);
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

/* end event css */

.line {
    margin-top: 20px;
}

.button {
    padding: 10px;
    font-size: 12px;
    display: inline;
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    box-shadow: 0px 15px 20px rgb(190,190,190);
}

a: { 
    text-decoration: underline;
}

a:hover { 
    background-color: rgba(80, 30, 30, 0.6);
    color: aliceblue;
}

footer {
    height: 50px;
    background-color: rgba(255, 250, 250, 0.9);
    clear: both;
}

.footer {
    padding-top: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    clear: both;
}

/*@media only screen and (min-width: 700px) {
    boby{
    background-color: darkviolet;
    color: cornflowerblue;
    font-family: monospace;
    text-align: center;
    margin-top: 10%;
    border: 1px solid black;
    margin: 0 auto;
    width: 100%;
}
    
h1 {
    text-align: center;
    color: rgba(80, 30, 30, 0.6);
    /*border: 1px solid yellow;
    margin: 0;
    margin-top: 10px;
}
*/